<!-- Add new modal -->
<div id="mdlAddNew" class="modal">
    <div class="modal-content">
      <h4>Add new task</h4>
      <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="Placeholder" id="newTodoTaskName" type="text" class="validate">
              <label for="taskName">Task Name</label>
            </div>         
  
            <div class="input-field col s12">
                <textarea id="newTodoDescription" class="materialize-textarea" ></textarea>
              <label for="taskDescription">Description</label>
            </div>         
   
            <div class="input-field col s12">
              <p>
                <label>
                  <input name="newTodoGrpType" value="EXTENSION" type="radio" checked />                  
                  <span>Extension</span>
                </label>
            
                <label>
                  <input name="newTodoGrpType"  value="REQUIREMENT" type="radio" />
                  <span>Requirement</span>
                </label>
            
                <label>
                  <input name="newTodoGrpType"  value="FEATURE" type="radio"  />
                  <span>Feature</span>
                </label>
          
                <label>
                  <input name="newTodoGrpType"  value="BUG" type="radio"  />
                  <span>Bug</span>
                </label>
              </p>
            </div>                      
          </div>
        </form>
        <div class="modal-footer">      
          <a href="#!" id="btnCreateTodo" class="modal-close waves-effect waves-light btn-large">Create</a>
        </div>
    </div>
    
  </div>